@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* App.css */
.signInSignUpContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/background.svg');
  background-size: cover;
  background-position: 65% 35%;
  background-repeat: no-repeat;
}

.movie-card {
  position: relative;
  width: 150px;
  height: 225px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Animation duration and easing function */
}

.movie-card:hover {
  transform: translateY(-10px); /* Move up along the Y-axis by 10px */
}
